input.form-control
  border-radius 0


.container
  margin-top 20px
.pt7
  padding-top 7px


.content .btn
  width 100px
  margin-left 2px
  margin-right 2px
  border-radius 0

.content input.form-control
  width 230px

.content textarea
  margin-top 10px
  border-radius 0
  resize none
